.auth-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(171, 172, 111, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.auth-modal {
  background: white;
  padding: 32px;
  border-radius: 12px;
  width: 400px;
  max-width: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.close-button {
  position: absolute;
  top: 12px;
  right: 12px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #000000;
}

.auth-modal input {
  padding: 10px;
  font-size: 1rem;
  border: 2px solid #ddd;
  border-radius: 6px;
}

.submit-button {
  background-color: rgba(0, 0, 0, 0.808);
  color: white;
  font-weight: bold;
  font-size: 1rem;
  padding: 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.auth-error {
  color: red;
  font-size: 0.9rem;
  margin-top: -8px;
}

.forgot-password {
  text-align: right;
}

.link-style {
  background: none;
  border: none;
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
  padding: 0;
  font-size: 0.9rem;
}

.switch-auth {
  text-align: center;
}
